* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


@font-face {
    font-family: raleway-c;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: outfit-c;
    src: url(../fonts/outfit-regular.woff2);
}
@font-face {
    font-family: pinyon-c;
    src: url(../fonts/PinyonScript.ttf);
}
@font-face {
    font-family: greatvibe-c;
    src: url(../fonts/GreatVibes-Regular.ttf);
}
@font-face {
    font-family: montser-c;
    src: url(../fonts/Montserrat.ttf);
}
@font-face {
    font-family: playfair-c;
    src: url(../fonts/PlayfairDisplay.ttf);
}
@font-face {
    font-family: roboslab-c;
    src: url(../fonts/RobotoSlab.ttf);
}
@font-face {
    font-family: DMsans-c;
    src: url(../fonts/DMSans.ttf);
}
@keyframes colorChange {
    from { color: #111112; }
    to { color: #c89184; }
  }

body {
height: auto;
background-image: url(../img/BACKGROUNDS/5.jpg); /*Здесь вставлять ФОН всей страницы*/
background-size: cover; /* Растягивает изображение на всю высоту и ширину элемента */
background-attachment: fixed; /* Зафиксирует фон при прокрутке */
background-position: center;
background-repeat: no-repeat;
color: #fafafa;
font-family: raleway-c;
overflow: hidden;
overflow-y: auto; /*Плавающая по оси-Y*/
}

header{
position: relative;
width: 100%; /*расположение по ширине*/
text-align: center; /*расположение кнопок в заголовке*/
color: rgb(102, 33, 221);
padding: 0; /*Отступ в пикселях от боковых границ*/
}
nav{
width: 100%;
background-image: url();
background-size: 100%;
position: relative;
text-align: right;
height: 12vh;
top: 0vh; /* Расположить 20 пикселей от верхней границы */
left: 0px; /* Расположить 50 пикселей от левой границы */
transform: translateX(0%); /*Размеры относительно header*/
}

nav li{
    
margin-top: 4vh;
font-size: 20px;
display: inline-block;
margin-right: 60px; /*Отступ между словами*/
font-family:raleway-c;
letter-spacing: 0.05vw;

}

nav a{
text-decoration:wavy;
color: black;
text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
font-weight: bolder;
}
.Initials{
    position: absolute;
    z-index: 1;
    margin-top: 1.2vh;
    margin-left: -42vw;
    height: 70px;
}
/*НАЧАЛО СЕКЦИИ ДЛЯ ЛИНИЙ*/
.Home::before {
    content: "";
    background: linear-gradient(45deg, #afb2b2, #040404);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*тень*/
    border-radius: 50%;
    display: block;
    width: 100%;
    position: relative;
    height: 4px; /* Высота линии */
    background-color: rgba(22, 162, 99, 0.938);
    margin-bottom: 0px; /* Расстояние между линией и текстом */
}
.Shop::before{
    content: "";
    background: linear-gradient(45deg, #afb2b2, #040404);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*тень*/
    border-radius: 50%;
    display: block;
    width: 100%;
    position: relative;
    height: 4px; /* Высота линии */
    background-color: rgba(22, 162, 99, 0.938);
    margin-bottom: 0px; /* Расстояние между линией и текстом */
}
.Procedures::before{
    content: "";
    background: linear-gradient(45deg, #afb2b2, #040404);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*тень*/
    border-radius: 50%;
    display: block;
    width: 100%;
    position: relative;
    height: 4px; /* Высота линии */
    margin-bottom: 0px; /* Расстояние между линией и текстом */
}
.Iconsimg::before{
    content: "";
    background: linear-gradient(45deg, #afb2b2, #040404);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*тень*/
    display: block;
    width: 100%;
    position: relative;
    height: 3px; /* Высота линии */
    background-color: rgba(22, 162, 99, 0.938);
    margin-bottom: 0px; /* Расстояние между линией и текстом */
}
.IP::before{
    content: "";
    background: linear-gradient(45deg, #afb2b2, #040404);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*тень*/
    border-radius: 50%;
    display: block;
    width: 100%;
    position: relative;
    height: 4px; /* Высота линии */
    background-color: rgba(22, 162, 99, 0.938);
    margin-bottom: 0px; /* Расстояние между линией и текстом */ 
}
.AL1::after{
    content: "";
    background: linear-gradient(45deg, #afb2b2, #040404);
    border-radius: 50%;
    display: block;
    width: 35vw;
    position: relative;
    height: 5px; /* Высота линии */
    margin-bottom: 0px; /* Расстояние между линией и текстом */
}
.AL2::after{
    content: "";
    background: linear-gradient(45deg, #afb2b2, #040404);
    border-radius: 50%;
    display: block;
    width: 28vw;
    position: relative;
    height: 5px; /* Высота линии */
    margin-bottom: 0px; /* Расстояние между линией и текстом */
}
.AL3::after{
    content: "";
    background: linear-gradient(45deg, #afb2b2, #040404);
    border-radius: 50%;
    display: block;
    width: 38.8vw;
    position: relative;
    height: 5px; /* Высота линии */
    margin-bottom: 0px; /* Расстояние между линией и текстом */ 
}
.AL4::after{
    content: "";
    background: linear-gradient(45deg, #afb2b2, #040404);
    border-radius: 50%;
    display: block;
    width: 23.5vw;
    position: relative;
    height: 5px; /* Высота линии */
    margin-bottom: 0px; /* Расстояние между линией и текстом */
}
.SD4::before{
    content: "";
    background: linear-gradient(45deg, #3e8181, #877e7e);
    border-radius: 50%;
    display: block;
    width: 56.4vw;
    position: relative;
    height: 5px; /* Высота линии */
    margin-bottom: 5vh; /* Расстояние между линией и текстом */
}
.MCC::after{
    content: "";
    background: linear-gradient(45deg, #3e8181, #877e7e);
    border-radius: 50%;
    display: block;
    width: auto;
    position: relative;
    height: 2px; /* Высота линии */
    margin-bottom: -10vh; /* Расстояние между линией и текстом */
}
.MCC::before{
    content: "";
    background: linear-gradient(45deg, #3e8181, #877e7e);
    border-radius: 50%;
    display: block;
    width: auto;
    position: relative;
    height: 2px; /* Высота линии */
    margin-bottom: 0vh; /* Расстояние между линией и текстом */
}
/*КОНЕЦ СЕКЦИИ ДЛЯ ЛИНИЙ*/

.Iconsimg{
    margin-bottom: 0vh;
   
}
.DrSpiller{
    height: 100px;
    width: auto;
    margin-left: -5vw;
}
.Esthederm{
    height: 100px;
    width: auto;
    margin-left: 10vw;
    margin-bottom: -1vh;
}
.Glymed{
    height: 100px;
    width: auto;
    margin-left: 10vw;
}
.Renew{
    height: 130px;
    width: auto;
    margin-left: 10vw;
    margin-bottom: -3vh;
}

/*НАЧАЛО СЕКЦИИ "ГЛАВНАЯ"*/

.Home{
    background-image: url(../img/BACKGROUNDS/.jpg);
    background-size: cover;
    z-index: -1;
    height: 120vh;
   
}

.SD1{ /*ИМЯ И ФАМИЛИЯ*/
    margin-top: 5vh;
    font-family: pinyon-c;
    padding-left: 13.5vw; /*задает отступ слева для содержимого элемента*/
    font-size: 100px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: rgba(3, 4, 4, 0.832);
    text-align: left;
}


.SelfPhoto{
    max-width: 20%;
    border-radius: 20%; /*Закругления по углам*/
    transform: rotate(5deg); /*Вращение фотографии*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*тень*/
    position: absolute;
    left: 75vw; /* Смещение влево */
    top: 20vh; /* Смещение вверх */  
}
.SelfDescription ul li{
    color: rgb(3, 4, 4);
    list-style-type: none;
    padding-top: 0.7vw;
    padding-left: 0vw; /*задает отступ слева для содержимого элемента*/
    font-size: 25px;
    /* font-style: italic; */
    /* font-weight: bold; */
    font-family: roboslab-c;
    letter-spacing: 0px;
    text-align: center;
    margin-right: 30vw;
    
}
.SelfDescription ul{ /*ТЕКСТ НА ГЛАВНОЙ СТРАНИЦЕ*/
    text-shadow: 2.5px 2.5px 5px rgba(83, 75, 73, 0.5);
    margin-top: 8vh;
   
}
.SD2{
    margin-left: 4vw;
    font-style: italic;
}
.SD3{
    margin-left: 4vw;
    font-style: italic;
}
.SD4{
    margin-left: 4vw;
    font-style: italic;
}
.SD5{
    margin-left: 4vw;
    font-style: italic;
}
.AdvList{ /*СВОИ ПЛЮСЫ*/
    display:block;
    margin-top: 12vh;
    margin-left: 12vw;
}
.Custom1{
    list-style-type: none;
}
.Custom1 li{
    background-image: url(../icons/ADV2.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 60px;
    font-size: 30px;
    color: rgb(25, 33, 51);
    text-align: left;
    margin-bottom: 5vh;
    padding-left: 3vw;
}

.AL2{
    margin-left: 3vw;
}
.AL3{
    margin-left: 6vw;
}
.AL4{
    margin-left: 9vw;
}

.btnrec{
    position: relative;
    margin-right: -60vw;
    margin-top: -40vh;

}

.btnrec button{
    background: none;
    border: 2px solid rgba(0, 0, 0, 0.838);
    text-align: center;
    font-family:fantasy;
    letter-spacing: 1px;
    font-size: 20px;
    border-radius: 0%;
    width: 300px;
    height: 100px;
    padding: 0px 0px;
    text-shadow: 2px 2px 4px rgba(94, 65, 65, 0.5);
    background: linear-gradient(45deg, #3b3c3c, #040404);
    -webkit-background-clip: text;
    color: transparent;  
}
/*КОНЕЦ СЕКЦИИ "ГЛАВНАЯ"*/

/*НАЧАЛО СЕКЦИИ "ПРОЦЕДУРЫ"*/


.Procedures{
    margin-top: 0vh;
    height: 179.5vh;
    
}
.BG1{ /*ONLY BACKGROUND CONTAINER*/
    background-color: #c17e1233;
    background-size: cover; /* Растягивает изображение на всю высоту и ширину элемента */
    background-attachment: fixed; /* Зафиксирует фон при прокрутке */
    background-position: center;
    height: 150.5vh;
    background-repeat: no-repeat;
}
.TP{ /*TEXT PROCEDURE*/
    /* background-image: url(../img/HEADER/3.png);
    background-size: auto; */
    padding-top: 3vh;
    padding-bottom: 3vh;
    /* background-color: #543f1bbc; */
    
}
.TP li{
    background-image: linear-gradient(90deg, rgba(154, 44, 44, 0.685),rgba(135, 44, 44, 0.652));
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 3vh;
    /* font-family: roboslab-c; */
    /* text-shadow: 2.5px 2.5px 5px rgba(155, 52, 26, 0.674); */
}
.TP1{
    /* font-weight: bold; */
    /* font-style: italic; */
    font-size: 30px;
    letter-spacing: -0.5px;
    color: #020202c7;
    text-shadow: 1px 1px 2px rgba(48, 44, 48, 0.488);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.TP2{
    font-weight: bold;
    /* font-style: italic; */
    /* text-decoration: underline; */
    font-size: 27px;
    letter-spacing: -0.5px;
    color: #020202c7;
    text-shadow: 1px 1px 2px rgba(48, 44, 48, 0.488);
    font-family: montser-c;
}

.IP{
    margin-top: 0vh;
}

.IP p{
    margin-top: 1.5vh;
    font-size: 30px;
    font-style: italic;
    color: #040404;
    font-family: roboslab-c;
    text-shadow: 2.5px 2.5px 5px rgba(83, 75, 73, 0.5);
}


.ItemsGallery1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 4vh;
}

.ItemsGallery2{
    padding: 0px 16vw;
}
.ItemsGallery3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0vh;
}
.ItemsGallery4{
    padding: 0px 27vw;
}


.TextItem1, .TextItem2, .TextItem3{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-right: -0.3vw;
    
}

.ItemsGallery1 img{ /*Общие параметры для фотографий*/
    box-shadow: 0 4px 8px 0 rgba(154, 33, 33, 0.2), 0 6px 20px 0 rgb(50, 58, 59);
    /* transition: transform 0.3s ease; */
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0px 80px;
    padding: 0.7vh;
}
.ItemsGallery3 img{
    box-shadow: 0 4px 8px 0 rgba(154, 33, 33, 0.2), 0 6px 20px 0 rgb(50, 58, 59);
    /* transition: transform 0.3s ease; */
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0px 80px;
    padding: 0.7vh;
}


.ItemsGallery2 button{
    display: block; /* Занимает всю ширину контейнера */
    margin: 0.7vh auto; /* Отступ сверху и авто*/
    background: none;
    border: 3px solid rgba(0, 0, 0, 0.838);
    text-align: center;
    color: #484a48;
    font-family: outfit-c;
    font-weight:bolder;
    font-style: italic;
    letter-spacing: 0.5px;
    font-size: 26px;
    border-radius: 100px;
    padding: 10px 20px;
    width: 24vw;
    height: 15vh;
    
}
.ItemsGallery2 button h3{
    font-family: montser-c;
    text-shadow: 0 0 4px rgba(199, 21, 140, 0.751);
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
    margin-top: 1.5vh;
    font-size: 20px;
    font-style:normal;
    
}
.ItemsGallery4 button{
    display: block; /* Занимает всю ширину контейнера */
    margin: 0.7vh auto; /* Отступ сверху и авто*/
    background: none;
    border: 3px solid rgba(0, 0, 0, 0.838);
    text-align: center;
    color: #484a48;
    font-family: outfit-c;
    font-weight:bolder;
    font-style: italic;
    letter-spacing: 0.5px;
    font-size: 24px;
    border-radius: 100px;
    padding: 0px 20px;
    width: 24vw;
    height: 14vh;
}
.ItemsGallery4 button h3{
    font-family: montser-c;
    text-shadow: 0 0 4px rgba(199, 21, 140, 0.751);
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
    margin-top: 1.5vh;
    font-size: 20px;
    font-style:normal;
    
}

.Custom2{
    margin-left: -18vw;
    margin-top: 0vh;
}
.Custom3{
    margin-top: 0vh;
}
.Custom2, .Custom3 li{
    list-style-type: none;
}
.LC1::after{
    content: ""; /* Пустое содержимое для псевдоэлемента */
    position: absolute; /* Абсолютное позиционирование относительно контейнера */
    right: 0; /* Расположить справа */
    top: 0; /* От верхнего края контейнера */
    bottom: 0; /* До нижнего края контейнера */
    width: 5px; /* Ширина линии */
    border-radius: 50%;
    background-color: #333; /* Цвет линии */
    margin-right: 49.72vw;
    margin-top: -9.7vh;
}
.FC{
    display: flex;
    align-items: left;
    position: relative;
    justify-content: center;
    margin-top: 2vh;
    margin-right: -0.5vw;
    
}

.OP{ /*ОСТУП ПЕРВОГО СПИСКА ОТ ВТОРОГО*/
    margin: 0px; 
    padding: 0px;
    
}
.OPP{
    margin: 0px;
    padding: 0px;
    
}
.OP ul li{
    color: rgb(3, 4, 4);
    list-style-type: none;
    padding-top: 1.2vw;
    padding-left: 0vw; /*задает отступ слева для содержимого элемента*/
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    font-family: roboslab-c;
    letter-spacing: 0px;
    text-align: right;
    margin-right: 0.7vw;
}
.OPP ul li{
    color: rgb(3, 4, 4);
    list-style-type: none;
    padding-top: 1.2vw;
    padding-left: 0vw; /*задает отступ слева для содержимого элемента*/
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    font-family: roboslab-c;
    letter-spacing: 0px;
    text-align: left;
    margin-right: 0vw;   
}
.FC span{
    font-family: montser-c;
    text-shadow: 0 0 4px rgba(199, 21, 140, 0.751);
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
    margin-top: 1.5vh;
    font-size: 20px;
    font-style:normal;
    
}
/*КОНЕЦ СЕКЦИИ "ПРОЦЕДУРЫ"*/

/*НАЧАЛО СЕКЦИИ "КОСМЕТИКА"*/
.Shop{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.MCC{
    margin-top: 3vh;
    height: 50vh;

}
.CC1{
    margin-top: 3vh;
    width: 100%;
    overflow-x: auto ; /* Включение горизонтального скролла */
    white-space: nowrap; /*Предотвращение переноса контента на новую строку*/

}
.CC1 img{
    box-shadow: 0 4px 8px 0 rgba(154, 33, 33, 0.2), 0 6px 20px 0 rgb(50, 58, 59);
    /* transition: transform 0.3s ease; */
    width: 180px;
    height: 180px;
    border-radius: 25%;
    margin: 0px 2.5vw;
    padding: 0.7vh;
}



.TextContent1{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-right: -0.3vw;
}
.ItemsContent2 span{
    display: block; /* Занимает всю ширину контейнера */
    margin: 2.7vh auto; /* Отступ сверху и авто*/
    background: none;
    border: 3px solid rgba(0, 0, 0, 0.838);
    text-align: center;
    color: #484a48;
    font-family: outfit-c;
    font-weight:bolder;
    font-style: italic;
    letter-spacing: 0.5px;
    font-size: 10px;
    border-radius: 0px;
    padding: 10px 20px;
    width: 20vw;
    height: 10vh;
}

/*КОНЕЦ СЕКЦИИ "КОСМЕТИКА"*/


